<!DOCTYPE html>
<html>
<head>
    <title>Create Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="display:flex;justify-content:center;align-items:center;height:100vh;background:#f7f9fb;">

<div class="login-card-box" style="max-width:420px;width:100%;">
    <h3>Create Password</h3>

    <form method="post">
        <input type="password" name="password" placeholder="Create Password" required>
        <input type="password" name="confirm" placeholder="Confirm Password" required>

        <button class="login-btn">
            Create Account →
        </button>
    </form>
</div>

</body>
</html>
